* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232946;
  color: #fffffe;
}

a {
  text-decoration: none;
  color: #eebbc3;
  transition: 0.5s;
}

a:hover {
  color: #fdd4da;
}